{{ define "createPost" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome, {{.Username}}!</h1>
<form action="/addPost" method="POST">
    <label for="postName">Title:</label>
    <input type="text" id="postName" name="postName" required><br><br>

    <label for="postMessage">Message:</label>
    <input type="text" id="postMessage" name="postMessage" required><br><br>

    <label for="category_name">category:</label>
    <input type="text" id="category_name" name="category_name" required><br><br>

    <input type="submit" value="Register">
</form>

</body>
</html>

{{end}}