{{ define "Forum" }}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="../Static/CSS/style.css">
</head>
<body>
<div>
    <title>Abonnement</title>
    <div>liste des abonnement</div>
</div>
<div>
    <button>Accueil</button>
    <input class="SearchBar">Search ...</input>
    <div>
        liste des postes
    </div>

</div>
<div>div gestion de compte</div>
{{range .Posts}}
    <div>
        <h3>{{.PostName}} by {{.CreatorID}} on {{.categoryName}}</h3>
        <p>{{.PostMessage}}</p>
    </div>
{{end}}
</body>
</html>
{{end}}