<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/Static/CSS/login.css">
</head>

<body>
<form action="/loginUser" method="POST">
    <h2>Login</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Login">
    <a href="/register" class="register">Crée un compte</a>
    <div>
        <a href="/auth/google/login" ><button type="button" class="google">Login with Google</button></a>
    </div>
    <div>
        <a href="/auth/github/login" ><button type="button" class="github">Login with GitHub</button></a>
    </div>
</form>
</body>
</html>
