
{{ define "post" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/Static/CSS/post.css">
        <title>{{.PostName}}</title>
        <script>
            async function likePost(postID, like) {
                const response = await fetch(`/likePost?postID=${postID}&like=${like}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    const data = await response.json();
                    document.getElementById(`likeCount-${postID}`).textContent = data.likeCount;
                    document.getElementById(`dislikeCount-${postID}`).textContent = data.dislikeCount;
                } else {
                    console.error('Failed to like/dislike post');
                }
            }
        </script>
    </head>
    <body>
    <div class="container">
        <div class="post">
            <h1>{{.PostName}}</h1>
            <a class="button" href="/Forum">Acceuil</a>
            <p>Par {{.CreatorUsername}} dans la catégorie {{.CategoryName}}</p>
            <p>{{.PostMessage}}</p>
            {{if .ImageLink}}
                <img src="../{{.ImageLink}}" alt="Post Image">
            {{end}}
            <div class="likes-dislikes">
                <button onclick="likePost({{.ID}}, true)" class="like">Like</button>
                <button onclick="likePost({{.ID}}, false)" class="dislike">Dislike</button>
                <p>Likes: <span id="likeCount-{{.ID}}">{{.Likes}}</span></p>
                <p>Dislikes: <span id="dislikeCount-{{.ID}}">{{.Dislikes}}</span></p>
            </div>
            <h2>Ajouter un commentaire</h2>
            <form action="/addComment" method="post">
                <input type="hidden" name="postID" value="{{.ID}}">
                <textarea name="message" rows="4" cols="50" required></textarea><br>
                <button type="submit">Ajouter</button>
            </form>
            <h2>Commentaires</h2>
            {{range .Comments}}
                <div class="comment">
                    <p><strong>{{.Username}}:</strong> {{.Message}}</p>
                    {{if .ImageLink}}
                        <img src="../{{.ImageLink}}" alt="Post Image">
                    {{end}}
                </div>
            {{else}}
                <p>Aucun commentaire pour le moment.</p>
            {{end}}
        </div>
    </div>
    </body>
    </html>
{{end}}
